
/* Kaydee added body color - 4/6 */
body {
/* background-image: url(/img/Teal_Grid_BG.png); */
background-image: url(https://cdn.discordapp.com/attachments/442113342501552147/1097608698509136022/Teal_Grid_BG.png);

}

/* Kaydee centered page - 4/6 */

.content {
    height: 50%;
    width: 60%;
    background-color: rgb(239, 235, 229);
    padding-top: 1%;
    border: solid 5px #000000;
    border-radius: 25px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    padding-left: 100px;
    padding-right: 150px;
}

@media screen and (min-width: 640px){
.flexBox-main {
    display: flex;
}
}

.leftSide {
    flex: 1;
    align-items: center;
}

.rightSide {
    flex: 0 1 300px;
}

.leftFlexHeader{
    display: flex;
    justify-content: space-evenly}

#logo {
    width: 350px;
    height: auto;
    object-fit: fill;

}

#search {
    margin-top: 30%;
}

#flashcardContainer {
    background-color: #ffffff;
    border: 5px solid black;
    border-radius: 25px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 40px;
    padding: 20px;
    min-width: 814px;
    min-height: 400px;
}

#saveRemove{
    margin-top: 2%;
    margin-left: 50%;
}

.flashcard{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100px;
    margin-top: 35px;
    background-image: url("img/notecard-3.jpg");
    box-sizing: border-box;
    width: 240px;
    height: 200px;
    border: 1px solid;
    background-color: #ffffff;
    
}
#flashcardContainer{
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    width: 210%;
    height: auto;
    row-gap: 10px;
    overflow-y: scroll;
}

.fillerTxt{
    position: relative;
    justify-content: center;
    left: 95px;
    top: 65px;
    right: 65px;
}

#h1FCMaker, #moveInstruct {
    margin-left: 30px;
}

#instructH3 {
    margin-left: 30px;
}

#instructPara {
    width: 200px;
    margin-left: 30px;
    
}

.instructions {
    background-color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding-left: 10px;
    padding-right: 50px;
    
}

.middleSection {
    display: flex;
    flex-direction: column;
    width: 42%;
    height: 450px;
    margin-top: 35px;
    box-sizing: border-box;
    margin-right: 10px;
}

.middleAlign {
    display: flex;
    justify-content: space-between;
    /* margin-left: 190px; */
    margin-right: 16px;
}

.instructionSet {
    display: flex;
    flex-direction: row;
    row-gap: 50px;
}

.instructionsStack {
    display: flex;
    flex-direction: column;
}

#instructID01{
    margin: 20px;
    padding-left: 250px;
}

.middleCompleteAlign{
    display: flex;
    
}

.fixFCMaker01 {
    padding: auto;
    padding-top: 50px;
    padding-left: 59px;
}

.copyRight {
    margin-top: 50px;
    margin-left: 500px;
}