
/*#logo{
    display: flex;
    justify-content: left;
}
#search{
    display: flex;
    flex-direction: row;
}
#flashcardContainer{
}
#saveRemove{
    
}
#instructions{
    display: flex;
    flex-direction: row;
}
#flashCardMaker{
    display: flex;
    justify-content:;
    
    
}
#saveCards{

}*/