
/* Kaydee added body color - 4/6 */
body {
background-image: url(/img/Teal_Grid_BG.png);
}

/* Kaydee centered page - 4/6 */

.content {
    height: 50%;
    width: 60%;
    background-color: rgb(239, 235, 229);
    padding: 5%;
    border: solid 5px #000000;
    border-radius: 25px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

@media screen and (min-width: 640px){
.flexBox-main {
    display: flex;
}
}

.leftSide {
    flex: 1;
    align-items: center;
    
}

.rightSide {
    flex: 0 1 300px;

}

.leftFlexHeader{
    display: flex;
    justify-content: space-evenly
}

#logo {
    width: 350px;
    height: auto;
    object-fit: fill;

}

#search {
    margin-top: 30%;
}

#flashcardContainer {
    margin-top: 2%;
    margin-left: 50%;
}

#saveRemove{
    margin-top: 2%;
    margin-left: 50%;
}

.flashcard{
    display: flex;
    flex-direction: row;
    border-style: solid;
    width: 250px;
    height: 180px;
    border-color: grey;
    margin-top: 35px;
    background-image: url("img/notecard.jpg");

}
#flashcardContainer{
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    width: 240px;
    row-gap: 10px;
}

.fillerTxt{
    position: relative;
    justify-content: center;
    left: 95px;
    top: 65px;
    /* bottom: 65%; */
    right: 65px;
}

